body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

textarea {
    width: 300px;
}

.card {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 6px;
}
